.flip-clock-wrapper {
  font: normal 11px "nta" !important;
}

.flip-clock-wrapper ul li {
  color: #fff !important;
  line-height: 95px !important;
}

body {
  background: #111;
}

.name {
  color: #ddd;
  font: 900 80px "nta";
}

.flip-clock-label {
  color: #fff !important;
  font-size: 50px;
  line-height: 100px;
  position: initial !important;
}

.flip-clock-dot {
  display: none !important;
}

.flip-clock-divider.minutes .flip-clock-label {
  right: -102px !important;
}

.flip-clock-divider {
  width: initial !important;
}
